* {
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 4rem auto;
}
.digit_wraper {
  margin: auto auto;
}
.group {
  display: flex;
  align-items: center;
}
.code {
  margin-top: 2em;
  display: grid;
  grid-column: 1/3;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
