@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #1d1f21;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
}
.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 4rem auto;
}
.digit_wraper {
  margin: auto auto;
}
.group {
  display: flex;
  align-items: center;
}
#code {
  cursor: pointer;
  margin-top: 4em;
  display: grid;
  grid-column: 1/3;
  border: 1px solid #cdcd94;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  overflow: hidden;
}
.scale {
  transform: scale(1.1);
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
}
.popup {
  background: #cdcd94;
  transform: translateY(-100%);
  transition: all 0.2s ease-out;
  margin: 0;
  width: 100%;
}
.popup__text {
  text-transform: capitalize;
  color: #d462d3;
  font-size: 1.5em;
  margin-left: 2em;
}
