@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: #1d1f21;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
}
.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 4rem auto;
}
.digit_wraper {
  margin: auto auto;
}
.group {
  display: flex;
  align-items: center;
}
.code {
  margin-top: 2em;
  display: grid;
  grid-column: 1/3;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
}
